.todoList {
    padding: 10px;
    font-family: "Times New Roman";
    text-align: center;
    font-size: 20px;
    composes: btn from "./index.css";
    background-color: #fefcaa;
    /*background-image: url("http://pic0.oboi-store.ru/files/products/jr-1103-oboi-grandeco-jackn-rose-junior-128783.1500x1500x1x.jpg");*/
    color: black;
    width: 260px;
    height: 300px;




}
.todoList button {

}

.deleteTodoList {
    background-color: white;

}
